<!DOCTYPE html>
<html ng-app="myApp">

    <head>
        <base href="/">
        <link rel="stylesheet" type="text/css" href="https://www.nteste.wsis.eu\assets\css\bootstrap.min.css">       
        <link rel="stylesheet" type="text/css" href="https://www.nteste.wsis.eu\assets\css\themify-icons.css">    
        <link rel="stylesheet" type="text/css" href="https://www.nteste.wsis.eu\assets\css\feather.css">
        <link rel="stylesheet" type="text/css" href="https://www.nteste.wsis.eu\assets\css\style.css">
        <link rel="stylesheet" type="text/css" href="https://www.nteste.wsis.eu\assets\css\jquery.mCustomScrollbar.css">
        <link rel="stylesheet" type="text/css" href="https://www.nteste.wsis.eu\assets\css\dataTables.bootstrap4.min.css">   

    </head>
    <body ng-controller="CONTROLER_BODY">
        <div ui-view="LOGIN" ng-if="!CONF.LOGADO"></div>
        <div ui-view="BODY" ng-if="CONF.LOGADO"></div>
       
    </body>

    <script type="text/javascript" src="https://www.nteste.wsis.eu\assets\js\jquery.min.js"></script>
    <script type="text/javascript" src="https://web.wsis.pt/js/jquery.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>
    <script type="text/javascript" src="https://web.wsis.pt/js/angular/angular-ui-router.js"></script>
    <script type="text/javascript" src="https://web.wsis.pt/js/angular/angular-cookies.min.js"></script>

    <script src="https://www.nteste.wsis.eu\assets\js\pcoded.min.js"></script>    
    <script src="https://www.nteste.wsis.eu\assets\js\vartical-layout.min.js"></script>
    <script src="https://www.nteste.wsis.eu\assets\js\jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="https://www.nteste.wsis.eu\assets\js\popper.min.js"></script>
    <script src="https://www.nteste.wsis.eu\assets\js\bootstrap.min.js"></script> 
    <script src="https://www.nteste.wsis.eu\assets\js\jquery.dataTables.min.js"></script>
    <script src="https://www.nteste.wsis.eu\assets\js\dataTables.bootstrap4.min.js"></script>
   
    <script src="https://www.nteste.wsis.eu\assets\js\amcharts.js"></script>
    <script src="https://www.nteste.wsis.eu\assets\js\serial.js"></script>
    <script type="text/javascript" src="https://www.nteste.wsis.eu\assets\js\script.js"></script>
    <script>
        var myApp = angular.module('myApp', ['ui.router', 'ngCookies']);
     
        myApp.config(function ($stateProvider, $locationProvider) {
            $stateProvider.state('home', {
                url: '',
                views: {
                    'LOGIN': {
                        templateUrl: 'INCLUDES/login.html', controller: "CONTROLER_LOGIN"
                    },
                    'BODY': {
                        templateUrl: 'INCLUDES/body.html', controller: "CONTROLER_BOD"
                    }
                }
            });
            $stateProvider.state('HREF', {
                url: '/:ecra',
                views: {
                    'LOGIN': {
                        templateUrl: 'INCLUDES/login.html', controller: "CONTROLER_LOGIN"
                    },
                    'BODY': {
                        templateUrl: 'INCLUDES/body.html', controller: "CONTROLER_BOD"
                    }
                }
            });
            $stateProvider.state('HREF.ID', {
                url: '/:ID',
                views: {
                    'LOGIN': {
                        templateUrl: 'INCLUDES/login.html', controller: "CONTROLER_LOGIN"
                    },
                    'BODY': {
                        templateUrl: 'INCLUDES/body.html', controller: "CONTROLER_BOD"
                    },
                    'EDITAR': {
                        templateUrl: 'INCLUDES/bodyedi.html', controller: "CONTROLER_BOD"
                    }
                }
            });
            
            $locationProvider.html5Mode(true);
        });
        myApp.controller("CONTROLER_MENU", function ($rootScope, $scope, $http, $cookies, $stateParams, $state, $location) {
            START_MENU();  
        });
        myApp.controller("CONTROLER_BODY", function ($rootScope, $scope, $http, $cookies, $stateParams, $state, $location) {
            $rootScope.CONF = {};
            $rootScope.globalsback = $cookies.getObject('globalsback') || {};        
            if ($rootScope.globalsback != {})
            {
                var OBJ = {};
                OBJ["user"] = $rootScope.globalsback;
                REQUESTPOST("bank/token",  OBJ, false)
                .then(function (response) {                 
                    if (response.status == 'OK')         
                    {
                        $rootScope.USER= response.response;
                        $rootScope.CONF.LOGADO = true;     
                    }       
                    else
                        $rootScope.CONF.LOGADO = false;  
                    $rootScope.$apply();
                });
            }
            else
                $rootScope.CONF.LOGADO = false;            
        });        
        myApp.controller("CONTROLER_LOGIN", function ($rootScope, $scope, $http, $cookies, $stateParams, $state, $location) {
            $rootScope.JSON_LOGIN = { user : {} } ;
            $rootScope.LOGIN_CLICK = function () {
                LOGIN_CLICK($rootScope, $scope, $http, $cookies, $stateParams, $state, $location);
            };
        });

        myApp.controller("CONTROLER_BOD", function ($rootScope, $scope, $http, $cookies, $stateParams, $state, $location) {        
           
            $rootScope.CONF.ecra = $stateParams.ecra;
            $rootScope.CONF.ID = $stateParams.ID;
            $rootScope.LOGOUT_CLICK = function () {
                LOGOUT_CLICK($rootScope, $scope, $http, $cookies, $stateParams, $state, $location);
            };         
        });

        myApp.controller("CLIENTES", function ($rootScope, $scope, $http, $cookies, $stateParams, $state, $location) {
            var OBJ = {};
            OBJ["credentials"] =$rootScope.globalsback; 
            REQUESTPOST("bank/load/customer", OBJ , false)
            .then(function (response) {  
                if (response.status == 'OK')         
                {
                    $rootScope.CLIENTES = response.response;
                    $rootScope.$apply();
                    START_DATATABLE()    
                }       
                       
            });
        });
        myApp.controller("CLIENTESEDI", function ($rootScope, $scope, $http, $cookies, $stateParams, $state, $location) {

            var OBJ = {};
            OBJ["credentials"] =$rootScope.globalsback; 
            OBJ["customer_id"] =$rootScope.CONF.ID; 
            REQUESTPOST("bank/load/customer", OBJ , false)
            .then(function (response) {  
                if (response.status == 'OK')         
                {
                    $rootScope.CLIENTE = response.response;
                    $rootScope.$apply();
                }                       
            });

            REQUESTPOST("bank/load/transaction", OBJ , false)
            .then(function (response) {  
                if (response.status == 'OK')         
                {
                    $rootScope.INVESTIMENTOS = response.response;
                    $rootScope.$apply();

                    var LISTINVESTE= [];
                    var LISTLEVANTA= [];
                    var LISTSALDO= [];
                    var saldo = 0;
                    var valor = 0;
                    angular.forEach($scope.INVESTIMENTOS,function(value, key) {     
                        var existe = false;
                        var point = null;
                        if(value.transaction.transaction_type == 'B')     
                        {
                            angular.forEach(LISTINVESTE,function(value1, key1) {
                                if(value1.created_at == value.transaction.created_at.substring(0, 10))
                                {
                                    existe = true;
                                    point = key1;
                                }
                            });
                            if(!existe)
                            {   
                                var obj = {};   
                                obj["created_at"] = value.transaction.created_at.substring(0, 10);                        
                                obj["amount"] =  -1*value.transaction.amount; 
                                LISTINVESTE.push(obj);
                            }
                            else                           
                                LISTINVESTE[point]["amount"] = LISTINVESTE[point]["amount"] +  -1*value.transaction.amount;
                        }
                        else
                        {
                            angular.forEach(LISTLEVANTA,function(value1, key1) {
                                if(value1.created_at == value.transaction.created_at.substring(0, 10))
                                {
                                    existe = true;
                                    point = key1;
                                }
                            });
                            if(!existe)
                            {   
                                var obj = {};   
                                obj["created_at"] = value.transaction.created_at.substring(0, 10);                        
                                obj["amount1"] =  value.transaction.amount;; 
                                LISTLEVANTA.push(obj);
                            }
                            else                           
                                LISTLEVANTA[point]["amount1"] = LISTLEVANTA[point]["amount1"] +  value.transaction.amount;
                        }
                       
                        existe = false;
                        angular.forEach(LISTSALDO,function(value1, key1) {
                            if(value1.created_at == value.transaction.created_at.substring(0, 10))
                            {
                                existe = true;
                                point = key1;
                            }
                        });

                        if(value.transaction.transaction_type == 'B')
                            saldo = saldo + -1*value.transaction.amount;               
                        else
                            saldo = saldo + 1*value.transaction.amount;    
                        if(!existe)
                        {      
                            var obj1 = {};
                            obj1["created_at"] = value.transaction.created_at.substring(0, 10);   
                            obj1["saldo"] = saldo;   
                            LISTSALDO.push(obj1);
                        }
                        else                           
                            LISTSALDO[point]["saldo"] = saldo;                       
                    });

                    var new_object = $.merge( $.merge( [], LISTINVESTE ), LISTLEVANTA);
                    var new_object1 = $.merge( $.merge( [], new_object ), LISTSALDO);
                    var amchart = AmCharts.makeChart("sales-analytics", {
                        "type": "serial",
                        "marginTop": 0,
                        "marginRight": 0,
                        "dataProvider": new_object1,   
                        "legend": {
                            "align": "center",
                            "position": "bottom",
                            "marginRight": 21,
                            "markerType": "circle",
                            "right": -4,
                            "labelText": "[[title]]",
                            "valueWidth": 80,
                            "textClickEnabled": true
                        },                          
                        "graphs": [{
                            "title" :"Saque",
                            "balloonText": "[[category]]<br><b><span style='font-size:14px;'>R$[[amount]]</span></b>",
                            "bullet": "round",
                            "valueField": "amount"
                        },{
                            "title" :"Investido",
                            "balloonText": "[[category]]<br><b><span style='font-size:14px;'>R$[[amount1]]</span></b>",
                            "bullet": "round",
                            "valueField": "amount1"
                        },
                        {
                            "title" :"Saldo",
                            "balloonText": "[[category]]<br><b><span style='font-size:14px;'>R$[[saldo]]</span></b>",
                            "bullet": "round",
                            "valueField": "saldo"
                        }
                        
                        ],        
                        "dataDateFormat": "YYYY-MM-DD",
                        "categoryField": "created_at",
                        "categoryAxis": {
                            "minPeriod": "DD",
                            "parseDates": true,
                            "gridAlpha": 0,
                            "minorGridAlpha": 0,
                            "minorGridEnabled": true
                        }
                    });                    

                }                       
            });


            

        });
        

        myApp.controller("RESULTADOS", function ($rootScope, $scope, $http, $cookies, $stateParams, $state, $location) {
            var OBJ = {};
            OBJ["credentials"] =$rootScope.globalsback; 
            REQUESTPOST("bank/dashboard", OBJ , false)
            .then(function (response) { 
                $rootScope.DATA =response.response;
                $rootScope.$apply();
            });

            REQUESTPOST("bank/load/all/transaction", OBJ , false)
            .then(function (response) { 
                if (response.status == 'OK')         
                {
                    $rootScope.INVESTIMENTOS = response.response;
                    $rootScope.$apply();

                    var LISTINVESTE= [];
                    var LISTLEVANTA= [];
                    var LISTSALDO= [];
                    var saldo = 0;
                    var valor = 0;
                    angular.forEach($scope.INVESTIMENTOS,function(value, key) {     
                        var existe = false;
                        var point = null;

                        if(value.transaction.transaction_type == 'B')     
                        {
                            angular.forEach(LISTINVESTE,function(value1, key1) {
                                if(value1.created_at == value.transaction.created_at.substring(0, 10))
                                {
                                    existe = true;
                                    point = key1;
                                }
                            });
                            if(!existe)
                            {   
                                var obj = {};   
                                obj["created_at"] = value.transaction.created_at.substring(0, 10);                        
                                obj["amount"] =  -1*value.transaction.amount; 
                                LISTINVESTE.push(obj);
                            }
                            else                           
                                LISTINVESTE[point]["amount"] = LISTINVESTE[point]["amount"] +  -1*value.transaction.amount;
                        }
                        else
                        {
                            angular.forEach(LISTLEVANTA,function(value1, key1) {
                                if(value1.created_at == value.transaction.created_at.substring(0, 10))
                                {
                                    existe = true;
                                    point = key1;
                                }
                            });
                            if(!existe)
                            {   
                                var obj = {};   
                                obj["created_at"] = value.transaction.created_at.substring(0, 10);                        
                                obj["amount1"] =  value.transaction.amount;; 
                                LISTLEVANTA.push(obj);
                            }
                            else                           
                                LISTLEVANTA[point]["amount1"] = LISTLEVANTA[point]["amount1"] +  value.transaction.amount;
                        }
                       
                        existe = false;
                        angular.forEach(LISTSALDO,function(value1, key1) {
                            if(value1.created_at == value.transaction.created_at.substring(0, 10))
                            {
                                existe = true;
                                point = key1;
                            }
                        });

                        if(value.transaction.transaction_type == 'B')
                            saldo = saldo + -1*value.transaction.amount;               
                        else
                            saldo = saldo + 1*value.transaction.amount;    
                        if(!existe)
                        {      
                            var obj1 = {};
                            obj1["created_at"] = value.transaction.created_at.substring(0, 10);   
                            obj1["saldo"] = saldo;   
                            LISTSALDO.push(obj1);
                        }
                        else                           
                            LISTSALDO[point]["saldo"] = saldo;                       
                    });

                    var new_object = $.merge( $.merge( [], LISTINVESTE ), LISTLEVANTA);
                    var new_object1 = $.merge( $.merge( [], new_object ), LISTSALDO);
                    var amchart = AmCharts.makeChart("sales-analytics", {
                        "type": "serial",
                        "marginTop": 0,
                        "marginRight": 0,
                        "dataProvider": new_object1,  
                        "legend": {
                            "align": "center",
                            "position": "bottom",
                            "marginRight": 21,
                            "markerType": "circle",
                            "right": -4,
                            "labelText": "[[title]]",
                            "valueWidth": 80,
                            "textClickEnabled": true
                        },                     
                        "graphs": [
                            {
                                "title" :"Saque",
                                "balloonText": "[[category]]<br><b><span style='font-size:14px;'>R$[[amount]]</span></b>",
                                "bullet": "round",
                                "valueField": "amount"
                            },{
                                "title" :"Investido",
                                "balloonText": "[[category]]<br><b><span style='font-size:14px;'>R$[[amount1]]</span></b>",
                                "bullet": "round",
                                "valueField": "amount1"
                            },
                            {
                                "title" :"Saldo",
                                "balloonText": "[[category]]<br><b><span style='font-size:14px;'>R$[[saldo]]</span></b>",
                                "bullet": "round",
                                "valueField": "saldo"
                            }                            
                        ],        
                        "dataDateFormat": "YYYY-MM-DD",
                        "categoryField": "created_at",
                        "categoryAxis": {
                            "minPeriod": "DD",
                            "parseDates": true,
                            "gridAlpha": 0,
                            "minorGridAlpha": 0,
                            "minorGridEnabled": true
                        }
                    });                  
                }                              

            });
        });
        























        function LOGOUT_CLICK($rootScope, $scope, $http, $cookies, $stateParams, $state, $location)
        {
            $rootScope.globalsback = {};
            $cookies.remove('globalsback');
            $rootScope.CONF.LOGADO = false;
        }
        function LOGIN_CLICK($rootScope, $scope, $http, $cookies, $stateParams, $state, $location)
        {
            $rootScope.SENDFORM = true;

            INPUT_TEXT_NOTEMPTY($rootScope, $rootScope.JSON_LOGIN.user, 'JSON_LOGIN.user', "email");
            INPUT_TEXT_NOTEMPTY($rootScope, $rootScope.JSON_LOGIN.user, 'JSON_LOGIN.user', "password");
            if (!$rootScope.SENDFORM) {
                alertme("Falta preencher algum campo", 1);
                return false;
            }

            REQUESTPOST("bank/login",  $rootScope.JSON_LOGIN, true)
            .done(function (response) {
                if (response.status == 'OK')
                {
                    $rootScope.globalsback = response.response;                  
                    var cookieExp = new Date();
                    cookieExp.setDate(cookieExp.getDate() + 7);
                    $cookies.putObject('globalsback', $rootScope.globalsback, { expires: cookieExp });
                    location.reload();
                }             
            });          
        }
    
        function REQUESTPOST(op, data, mensagem)
        {
            var settings = {
                "url": "https://infinite-fortress-20170.herokuapp.com/api/" + op,
                "method": "POST",
                "timeout": 0,
                "headers": {
                    "Content-Type":'application/x-www-form-urlencoded'
                },
                "data": data,
            };

            return $.ajax(settings).done(function (response) {               
                if ((response.status == 'NOK') && mensagem)
                    alertme(response.message);
            });
        }
       
        function alertme(msg)
        {
            alert(msg);
        }

        function INPUT_TEXT_NOTEMPTY($scope, $JSON, OBJ, CAMPO)
        {
            var element = angular.element('[ng-model="'+OBJ +"."+ CAMPO + '"]').blur();
            var element1 = angular.element('[model="'+OBJ +"."+ CAMPO + '"]').blur();
            Class_Remove_Faltaprencher(element);
            Class_Remove_Faltaprencher(element1);
            if(($JSON[CAMPO] === undefined)||($JSON[CAMPO] === '')||!(CAMPO in $JSON)||($JSON[CAMPO] === null))
            {
                console.log("Falta Preencher :" + CAMPO);
                $scope.SENDFORM = false;
                Class_Add_Faltaprencher(element);
                Class_Add_Faltaprencher(element1);
            }
            
        }

        function Class_Remove_Faltaprencher(elemento) {
            Class_Remove(elemento, "faltaprencher");
        }
        function Class_Add_Faltaprencher(elemento) {
            Class_Add(elemento, "faltaprencher");
        }
        function Class_Add(elemendo, classname) {
            elemendo.addClass(classname);
        }
        function Class_Remove(elemendo, classname) {
            elemendo.removeClass(classname);
        }

    </script>
</html>